.fajr-item {
    background: linear-gradient(180deg, #110E2D 0%, #28214D 49.48%, #2E2755 100%);

    &::after {
        background: url(../img/bacgr-fajr.png) no-repeat center bottom;
        background-size: contain;
    }
    &::before {
        background: url(../img/fajr-after.png) no-repeat center center;
        background-size: contain;
        left: 60px;
        top: 100px;
    }
}
.sunrise-item{
    background: linear-gradient(180deg, #5995de 0%, #aac1fc 61.37%, #4D6BB8 100%);

    &::after {
        background: url(../img/dhuhr-bg.png) no-repeat center bottom;
        background-size: contain;
    }
    &::before {
        background: url(../img/sun.png) no-repeat center center;
        background-size: contain;
        left: 10px;
        top: 150px;
    }
}
.dhuhr-item{
    background: linear-gradient(180deg, #88BFFF 0%, #BFD1FF 44.79%, #4D6BB8 100%);
    &::after {
        background: url(../img/dhuhr-bg.png) no-repeat center bottom;
        background-size: contain;
    }
    &::before {
        background: url(../img/sun.png) no-repeat center center;
        background-size: contain;
        left: 00px;
        top: 0px;
    
    }
}
.asr-item{
    background: linear-gradient(180deg, #8F8CFF 0%, #B8F1FF 45.48%, #B8EEFA 100%);
    
    &::after {
        background: url(../img/dhuhr-bg.png) no-repeat center bottom;
        background-size: contain;
    }
    &::before {
        background: url(../img/sun.png) no-repeat center center;
        background-size: contain;
        left: 30px;
        bottom: 100px;
    }
}
.maghrib-item {
    background: linear-gradient(180deg, #8F2681 0%, #CB4F71 61.37%, #C53B85 100%);

    &::after {
        background: url(../img/magh-bcg.png) no-repeat center bottom;
        background-size: contain;
    }
    &::before {
        background: url(../img/maghr-vector.png) no-repeat center center;
        background-size: contain;
        right: 30%;
        top: 70px;
    }
}

.isha-item {
    background: linear-gradient(180deg, #6B4CAA 0%, #B09ECB 51.19%, #D6D3E4 100%);
    
    &::after {
        background: url(../img/isha-bg.png) no-repeat center bottom;
        background-size: contain;
        opacity: 0.8;
    }

    &::before {
        background: url(../img/fajr-after.png) no-repeat center center;
        background-size: contain;
        left: 20px;
        top: 50px;
    }

}
.bomdod{
    &:first-child{
        height: 350px;
        max-width: 310px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
    }
}
.quyosh {
    &:nth-child(2) {
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
        height: 350px;
        max-width: 310px;
    }
}

.peshin {
    &:nth-child(3) {
        height: 350px;
        max-width: 310px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
    }
}

.asr {
    &:nth-child(4) {
        height: 350px;
        max-width: 310px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
    }
}

.shom {
    &:nth-child(5) {
        height: 350px;
        max-width: 310px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
    }
}

.hufton {
    &:nth-child(6) {
        height: 350px;
        max-width: 310px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.618), 0 45px 26px rgba(0, 0, 0, 0.624);
    }
}
@media only screen and (max-width:800px){
    .fajr--active {
        &:nth-child(1) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }

    .sunrise--active {
        &:nth-child(2) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }

    .dhuhr--active {
        &:nth-child(3) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }

    .asr--active {
        &:nth-child(4) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }

    .maghrib--active {
        &:nth-child(5) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }

    .isha--active {
        &:nth-child(6) {
            opacity: 1;
            background: linear-gradient(180deg, rgba(180, 180, 180, 0.15) 0%, rgba(220, 220, 220, 0.04) 48.21%, rgba(233, 233, 233, 0.06) 100%);
            height: auto;
        }
    }
    .fajr-container {
        background: linear-gradient(180deg, rgba(2, 2, 16) 0%, rgba(20, 20, 33) 32.14%, rgba(41, 39, 71) 91.61%);
    }
    
    .fajr-time {
        background: linear-gradient(180deg, rgb(16, 13, 44) 0%, #28214D 44.79%, #2E2755 100%);
    
        &::after {
            width: 60%;
            height: 40%;
            position: absolute;
            content: '';
            background: url(../img/fajr-after.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 20%;
            top: 25%;
        }
    }
    
    .fajr-timings {
        background: url(../img/bacgr-fajr.png) no-repeat center calc(45%);
        background-size: contain;
        position: relative;
        z-index: 1;
    
        &::after {
            width: 60%;
            height: 40%;
            position: absolute;
            content: '';
            background: url(../img/fajr-stars.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 20%;
            top: 8%;
        }
    }
    
    .dhuhr-time {
        background: linear-gradient(180deg, #88BFFF 0%, #BFD1FF 44.79%, #4D6BB8 100%);
        position: relative;
        overflow: hidden;
    
        &::after {
            width: 247px;
            height: 247px;
            position: absolute;
            content: '';
            background: url(../img/sun.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            left: -100px;
            top: 12%;
    
        }
    }
    
    .dhuhr-timings {
        background: url(../img/dhuhr-bg.png) no-repeat center calc(45%);
        background-size: contain;
        position: relative;
        z-index: 1;
    
        &::after {
            width: 60%;
            height: 40%;
            position: absolute;
            content: '';
            background: url(../img/maghr-vector.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 10%;
            top: 8%;
        }
    }
    
    .dhuhr-container {
        background: linear-gradient(180deg, #4b95ea 0%, #7691dc 44.79%, #4D6BB8 100%);
    }
    
    .asr-time {
        background: linear-gradient(180deg, rgb(143, 38, 129) 0%, #CB4F71 51.19%, #C53B85 100%);
        background: linear-gradient(180deg, #8F8CFF 0%, #B8F1FF 45.48%, #B8EEFA 100%);
    
        &::after {
            width: 290px;
            height: 290px;
            position: absolute;
            content: '';
            background: url(../img/sun.png) no-repeat center center;
            background-size: cover;
            z-index: 0;
            right: calc(50% - 195px);
            top: 25%;
        }
    }
    
    .asr-timings {
        background: url(../img/asr-bg.png) no-repeat center calc(45%);
        background-size: contain;
        position: relative;
        z-index: 1;
    
        &::after {
            width: 35%;
            height: 30%;
            position: absolute;
            content: '';
            background: url(../img/maghr-vector.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 30%;
            top: 12%;
        }
    }
    
    .asr-container {
        z-index: 6;
        background: linear-gradient(180deg, rgb(143, 38, 129) 0%, #CB4F71 51.19%, #C53B85 100%);
        background: linear-gradient(180deg, #575595 0%, #3d4e52 45.48%, #2d393b 100%);
    
    }
    
    .maghrib-time {
        background: linear-gradient(180deg, rgb(143, 38, 129) 0%, #CB4F71 51.19%, #C53B85 100%);
        position: relative;
        overflow: hidden;
    
        &::after {
            width: 591px;
            height: 591px;
            position: absolute;
            content: '';
            background: url(../img/maghr-after.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 0%;
            top: 18%;
        }
    }
    
    .maghrib-timings {
        background: url(../img/magh-bcg.png) no-repeat center calc(45%);
        background-size: contain;
        position: relative;
        z-index: 1;
    
        &::after {
            width: 35%;
            height: 30%;
            position: absolute;
            content: '';
            background: url(../img/maghr-vector.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 30%;
            top: 12%;
        }
    }
    
    .maghrib-container {
        z-index: 6;
        background: linear-gradient(180deg, rgb(108, 32, 97) 0%, #954057 51.19%, #C53B85 100%);
    }
    
    .isha-time {
        background: linear-gradient(180deg, #6B4CAA 0%, #B09ECB 51.19%, #D6D3E4 100%);
    
        &::after {
            width: 251px;
            height: 251px;
            position: absolute;
            content: '';
            background: url(../img/fajr-after.png) no-repeat center center;
            background-size: cover;
            z-index: 0;
            right: 12%;
            top: 35%;
        }
    }
    
    .isha-timings {
        background: url(../img/isha-bg.png) no-repeat center calc(45%);
        background-size: contain;
        position: relative;
        z-index: 1;
    
        &::after {
            width: 35%;
            height: 30%;
            position: absolute;
            content: '';
            background: url(../img/fajr-stars.png) no-repeat center center;
            background-size: contain;
            z-index: 0;
            right: 30%;
            top: 12%;
        }
    }
    
    .isha-container {
        z-index: 6;
        background: linear-gradient(180deg, #3f315d 0%, #413454 51.19%, #6d6391 100%);
        overflow: hidden;
    }
    .fajr-item , .sunrise-item , .dhuhr-item, .asr-item, .maghrib-item , .isha-item{
        background: transparent;
    }
}