@keyframes audio-open{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: 0rem;
    }
}
@keyframes audio-close{
    0%{
        bottom: 0rem;
    }
    100%{
        bottom: -100px;
    }
}
.audio{
    background: #009959;
    color: #fff;
    position: absolute;
    width: calc(100% - 345px);
    margin: 17px;
    bottom: 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    z-index: 9;
    right: 0;
    animation: audio-open ease 500ms;
}
.audio--closed{
    background: #009959;
    color: #fff;
    position: absolute;
    width: calc(100% - 345px);
    margin: 17px;
   right: 0;
    bottom: -100px;
    border-radius: 3rem;
    padding: 1rem 2rem;
    z-index: 9;
    animation: audio-close ease 400ms;
}
.audio__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //width: 720px;
}
.audio__info{
    display: flex;
    align-items: center;
}
.audio__button{
    margin-right: 2rem;
}
.audio__ayahname{
    margin-right: 2rem;
    text-decoration: none;
    color: #fff;
}
.audio__span{
    font-size: 1.6rem;
    font-weight: 500;
}