.option-flag{
    width: 20px ;
    height: 12px;
}
.option-wrapper{
    display: flex;
    align-items: center;
}
.option-item{
    margin-left: 5px;
}
.form__input-wrapper{
    position: relative; 
}