.oyat-card{
    border-radius: 2rem;
    margin-bottom: 3rem;
    // padding: 2rem 1.5rem;
    // padding-top: 0;
    background: #83ebc080;
}
.oyat-card__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: #83ebc080;
    align-items: center;
    //color: #fff;
   
}
.oyat-card__number{
    font-size: 2rem;
    font-weight: 500;
    background-color: #009959;
    border-radius: 50%;
   width: 30px;
   height: 30px;
   text-align: center;
   color: #fff;
}

.oyat-card__text{
    font-family: 'Roboto Slab';
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.5rem;
}
.arabic-text{
    font-family: 'Noto Naskh Arabic';
    text-align: right;
    text-decoration: none;
    font-size: 3rem;
    
}
.oyat-list__list{
    margin-top: 3rem;
}
.oyat-card__audio-button{
    background: transparent;
}