.sidebar{
    //width: 20%;
    //max-width: 280px;

    height: calc(100vh - 100px);
    max-height: 1200px;
    background-color: #FFFFFF;
}
.sidebar__list{
    padding: 15px;
}
.sidebar__link {
    text-align: center;
    padding: 8px 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-radius: 32px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.sidebar__input{
    position: absolute;
}
.sidebar__input:checked + .sidebar__link{
    background: #009959;
}